In [1]:
from Bio.SeqIO.FastaIO import SimpleFastaParser
import os, sys
import pandas as pd
import pyarrow

# MPRAFlow

In [ ]:
PATH = "/wynton/group/ahituv/fongsl/src/MPRAflow"
FILE = os.path.join(PATH, "null_mpra_barcodes_per_candidate-no_repeats-no_jackpots.feather")

In [3]:
df = pd.read_feather(FILE)

df.head()

                                               coord  n_barcodes
0      15-firstorder.63414|WTC11_seq51996_F|inactive         193
1  15-firstorder.2355935|HepG2_DNasePeakNoPromote...         149
2      15-firstorder.1412646|K562_peak57048|inactive         300
3     15-firstorder.192228|WTC11_seq41747_F|inactive         256
4  15-firstorder.1426742|HepG2_DNasePeakNoPromote...         305

In [4]:
df["n_barcodes"].sum()

10563139

In [5]:
df.describe()

         n_barcodes
count  56504.000000
mean     186.944977
std      120.585530
min        0.000000
25%      105.000000
50%      165.000000
75%      244.000000
max     1124.000000

In [6]:
len(df['coord'].unique())

56504

In [7]:
df[["null_id", "peak_id", "activity"]] = df["coord"].str.split('|', expand=True)

df.head()

,coord,n_barcodes,null_id,peak_id,activity
0,15-firstorder.63414|WTC11_seq51996_F|inactive,193,15-firstorder.63414,WTC11_seq51996_F,inactive
1,15-firstorder.2355935|HepG2_DNasePeakNoPromote...,149,15-firstorder.2355935,HepG2_DNasePeakNoPromoter50640,inactive
2,15-firstorder.1412646|K562_peak57048|inactive,300,15-firstorder.1412646,K562_peak57048,inactive
3,15-firstorder.192228|WTC11_seq41747_F|inactive,256,15-firstorder.192228,WTC11_seq41747_F,inactive
4,15-firstorder.1426742|HepG2_DNasePeakNoPromote...,305,15-firstorder.1426742,HepG2_DNasePeakNoPromoter11362,inactive

In [9]:
df.loc[df["coord"].str.contains("C:SLEA"), "activity"] = "ctrl"

In [10]:
df.groupby('activity')["n_barcodes"].describe()

            count        mean         std  min    25%    50%    75%     max
activity
active     1188.0    1.439394    3.130769  0.0    1.0    1.0    1.0    73.0
ctrl         51.0  207.274510  145.698604  3.0  137.0  175.0  244.5   944.0
inactive  54013.0  190.834781  118.630436  0.0  109.0  168.0  246.0  1124.0

# investigate design

In [40]:
DESIGN = "/wynton/group/ahituv/fongsl/src/MPRAflow/work/e8/06701317043d44bccc7e92326b2e79/design_rmIllegalChars.fa"

In [41]:
v = 0
with open(DESIGN, "r") as reader:
    for value in SimpleFastaParser(reader):
        name, seq = value
        print(seq[:15], seq[-15:], name)
        v +=1
        if v> 100:
            break

AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter10535|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter10586|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter10714|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter10849|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter11263|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter11270|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter11362|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter12111|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter1269|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter13177|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter14822|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter15346|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter16515|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter18426|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter19087|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter19344|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter202|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter20370|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter20605|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter21364|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter22808|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter23895|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter23953|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter24031|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter24275|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter24301|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter24682|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter24858|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter25226|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter25317|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter2575|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter26204|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter26559|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter27404|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter28451|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter28484|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter28606|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter28663|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter28813|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter28881|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter29008|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter29682|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter29923|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter30527|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter31378|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter32252|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter32351|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter33310|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter33567|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter33625|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter36677|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter36861|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter3695|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter37131|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter37241|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter37871|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter38147|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter38209|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter38693|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter38861|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter39646|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter40161|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter40177|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter40230|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter40683|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter40804|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter41238|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter41988|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter42196|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter42909|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter42966|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter44101|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter44233|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter44820|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter45290|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter46465|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter46899|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter47704|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter48222|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter48324|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter4841|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter48735|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter500|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter50040|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter50594|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter50640|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter50676|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter5137|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter51974|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter5201|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter52195|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter53344|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter53479|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter53861|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter53900|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter54925|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter56777|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter58258|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter58580|inactive
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter58688|active
AGGACCGGATCAACT CATTGCGTGAACCGA endog|HepG2_DNasePeakNoPromoter58867|inactive

# Sarah's python

In [16]:
PATH = "/wynton/group/ahituv/fongsl/projects/nullomers/data/20230815_nullomer_MPRA/assoc"
FILE = os.path.join(PATH, "null_mpra_barcodes_per_candidate-no_repeats-no_jackpots.feather")

df = pd.read_feather(FILE)

df.head()

                                         coord  n_barcodes
0  endog|HepG2_DNasePeakNoPromoter10535|active    10342951

# pickle

In [ ]:
PICKLE = pd.read_pickle(os.path.join(PATH, "null_mpra_coords_to_barcodes.pickle"))

In [17]:
p = pd.DataFrame(PICKLE.items())

In [32]:
p.columns =["bc", "n"]

In [33]:
p.head()

,bc,n
0,15-firstorder.63414|WTC11_seq51996_F|inactive,"[AAACATTAGTTTCTT, GAAGAGGGCCAAACC, GCAGTTGTGTA..."
1,15-firstorder.2355935|HepG2_DNasePeakNoPromote...,"[TTGGAATGACCAACA, TGACTGAGAAGGCTA, TACTTGGACAT..."
2,15-firstorder.1412646|K562_peak57048|inactive,"[TTTCTTTGGGATTAA, ATATTGCTCCCTGCG, TTAAGGAGATG..."
3,15-firstorder.192228|WTC11_seq41747_F|inactive,"[CTATGTTATTACAAA, GATCCTACATAGAGT, TACATTACGTG..."
4,15-firstorder.1426742|HepG2_DNasePeakNoPromote...,"[GAACTTGTCTGGCTA, CTATGAAAGAGATCC, CAAAACATAGT..."

In [34]:
len(set(p["bc"]))

56504

In [ ]:
# there are 10358215 bc

# FASTP run

In [2]:
FP="/wynton/group/ahituv/fongsl/projects/nullomers/data/20230815_nullomer_MPRA/assoc_fastp/null_mpra_coords_to_barcodes.pickle"

In [4]:
pickle = pd.read_pickle(FP)
p = pd.DataFrame(pickle.items())

In [5]:
p.shape

(1, 2)

In [6]:
p.head()

,0,1
0,endog|HepG2_DNasePeakNoPromoter10535|active,"[AAACATTAGTTTCTT, TTGGAATGACCAACA, TTTCTTTGGGA..."

In [3]:
a='TGATTCTTACTTCGTGCTCCAAGACGTCTGTTCTTTCCTGCTTTGTGACGCAGGCCTCCGTGCTGGCATTTGTGAAATGCAGATAACCTGTCAAACGTTGTCGACGGCCAGTACTCTGGTTGTAATCTCCTGAGGCCAGGAGCTGGGTCTTCAGGTCTTCACTTTCTCTCTATGTCCCCAACACAGCTCTGGGGGCGGGG'
len(a)

200