20221122
sarahfong

### Format mutation file
write:
- vcf-like file (#chrom, pos, id, ref, alt
- bed-like file (#chr, pos-1, pos, ref, alt)

In [18]:
import os
import pandas as pd
import subprocess
import sys

# config

In [2]:
# append path
sys.path.append("/wynton/home/ahituv/fongsl/tools/py_/")

# import config reader
import config_readwrite as crw
import zippery

config_name = os.path.join(os.path.dirname(os.getcwd()), "config")

config, configname = crw.read_config(config_name)

In [3]:
# select config variables

MUTATION = config["DATA"]["MUTATIONS"]
VCF = config["DATA"]["VCF"]  # write
BED = config["DATA"]["BED"]  # write

# functions

# Main

# mutations to vcf, bed

In [15]:
df = pd.read_csv(MUTATION, sep='\t', header=None)

# how big is the dataframe? 
print(df.shape)

df[4] = "nullomer" # add id column

df[5] = df[1]-1 # POS-1, or START position
df[6] = "chr"+df[0]
df.head()

(31124, 4)

                   0       1  2  3         4       5                     6
0  17_KI270861v1_alt    8328  T  C  nullomer    8327  chr17_KI270861v1_alt
1  17_KI270861v1_alt   50271  C  G  nullomer   50270  chr17_KI270861v1_alt
2  17_KI270861v1_alt   59439  G  C  nullomer   59438  chr17_KI270861v1_alt
3  17_KI270861v1_alt   94531  A  C  nullomer   94530  chr17_KI270861v1_alt
4  17_KI270861v1_alt  176081  T  A  nullomer  176080  chr17_KI270861v1_alt

### make the VCF

In [13]:
vcf = df[[0,1,4,2,3]].sort_values(by=[0,1])

# save vcf-like file
vcf.to_csv(VCF, sep='\t', index=False, header=False)
vcf.head()

       0       1         4  2  3
12346  1  455770  nullomer  A  C
12347  1  634788  nullomer  T  G
12348  1  690743  nullomer  A  C
12349  1  780677  nullomer  T  G
12350  1  827223  nullomer  G  T

### make bed

In [17]:
bed = df[[6,5,1,2,3]].sort_values(by=[6,1])

# save bed-file
bed.to_csv(BED, sep='\t', index=False, header=False)
bed.head()

          6       5       1  2  3
12346  chr1  455769  455770  A  C
12347  chr1  634787  634788  T  G
12348  chr1  690742  690743  A  C
12349  chr1  780676  780677  T  G
12350  chr1  827222  827223  G  T