20221122
sarahfong

### Format mutation file

add 
- nullomer_iD


write:
- vcf-like file (#chrom, pos, id, ref, alt
- bed-like file (#chr, pos-1, pos, ref, alt)

In [1]:
import os
import pandas as pd
import subprocess
import sys

# config

In [2]:
# append path
sys.path.append("/wynton/home/ahituv/fongsl/tools/py_/")

# import config reader
import config_readwrite as crw
import zippery

config_name = os.path.join(os.path.dirname(os.getcwd()), "config")

config, configname = crw.read_config(config_name)

In [3]:
# select config variables

MUTATION = config["DATA"]["MUTATIONS"]
VCF = config["DATA"]["VCF"]  # write
BED = config["DATA"]["BED"]  # write
BED_UNQ = config["DATA"]["BED_UNQ"]  # write

# functions

In [4]:
def makeNulloID(df):
    
    """
    add unique nullomer id tag to each uniq nullomer locus
    
    input
        df (pd.DataFrame object) of nullomer mutation list
    
    output 
        nullo_df (od.DataFrame object) of uniq nullomer loci w/ 
    """
    
    nullo_df = df[[0,1]].drop_duplicates().sort_values(by=[0,1]) # get unique loci [CHR, POS], sort 

    print(df.shape[0], nullo_df.shape[0])
    
    nullo_df["NID"] = "N_" +nullo_df.index.map(str) # add NULLOMER ID
    
    return nullo_df

# Main

# mutations to vcf, bed

In [5]:
df = pd.read_csv(MUTATION, sep='\t', header=None)

# how big is the dataframe? 
print(df.shape)

nullo_id_df = makeNulloID(df)  # add nullomer ids based on uniq chrom/pos
df = pd.merge(df, nullo_id_df, how = "left")

df[5] = df[1]-1 # POS-1, or START position
df[6] = "chr"+df[0]
df.head()

(31124, 4)
31124 31000

                   0       1  2  3  NID       5                     6
0  17_KI270861v1_alt    8328  T  C  N_0    8327  chr17_KI270861v1_alt
1  17_KI270861v1_alt   50271  C  G  N_1   50270  chr17_KI270861v1_alt
2  17_KI270861v1_alt   59439  G  C  N_2   59438  chr17_KI270861v1_alt
3  17_KI270861v1_alt   94531  A  C  N_3   94530  chr17_KI270861v1_alt
4  17_KI270861v1_alt  176081  T  A  N_4  176080  chr17_KI270861v1_alt

### make the VCF

In [6]:
vcf = df[[0,1,"NID",2,3]].sort_values(by=[0,1])

# save vcf-like file
vcf.to_csv(VCF, sep='\t', index=False, header=False)
vcf.head()

       0       1      NID  2  3
12346  1  455770  N_12346  A  C
12347  1  634788  N_12347  T  G
12348  1  690743  N_12348  A  C
12349  1  780677  N_12349  T  G
12350  1  827223  N_12350  G  T

### make bed

In [7]:
bed = df[[6,5,1,"NID",2,3]].sort_values(by=[6,1])

# save bed-file
bed.to_csv(BED, sep='\t', index=False, header=False)
print(bed.shape)
bed.head()

(31124, 6)

          6       5       1      NID  2  3
12346  chr1  455769  455770  N_12346  A  C
12347  chr1  634787  634788  N_12347  T  G
12348  chr1  690742  690743  N_12348  A  C
12349  chr1  780676  780677  N_12349  T  G
12350  chr1  827222  827223  N_12350  G  T

## uniq loci

In [8]:
bed_uniq = df[[6,5,1,"NID"]].sort_values(by=[6,1]).drop_duplicates()

# save bed-file
bed_uniq.to_csv(BED_UNQ, sep='\t', index=False, header=False)
print(bed_uniq.shape)
bed_uniq.head()

(31000, 4)

          6       5       1      NID
12346  chr1  455769  455770  N_12346
12347  chr1  634787  634788  N_12347
12348  chr1  690742  690743  N_12348
12349  chr1  780676  780677  N_12349
12350  chr1  827222  827223  N_12350