20221122
sarahfong


### separates nullomers into coding and non-coding files
- REQUIREMENT - GENCODE annotation for coding (user-specified)

- using GENCODE annotation bed 

- use pybedtools to intersect nullomers w/ GENCODE

### separate non-coding into ref chromosomes and alternative haplotype chromosomes
- drop redundant non-codingn coordinates (i.e. one locus, multiple nullomer options)


### preprocessing:
    /wynton/home/ahituv/fongsl/nullomers/bin/GENCODE/0_download_format_gencode.ipynb

    /wynton/home/ahituv/fongsl/nullomers/bin/GENCODE/0_format_mutation_file.ipynb

In [1]:
import os
import pandas as pd
import pybedtools as pbt
import subprocess
import sys

# config

In [4]:
# append path
sys.path.append("/wynton/home/ahituv/fongsl/tools/py_/")

# import config reader
import config_readwrite as crw
import count_lines as cl

config_name = os.path.join(os.path.dirname(os.getcwd()), "config")

config, configname = crw.read_config(config_name)

In [5]:
# select config variables
ANNOT_GENCODE = "EXON"

GENCODE_BED = config["GENCODE"][f"{ANNOT_GENCODE}_BED"]

NULLOMER_BED = config["DATA"]["BED_UNQ"]

GENCODE_OVERLAP = config[f"DATAx{ANNOT_GENCODE}"]["OVERLAP"]  # write
GENCODE_NOOVERLAP = config[f"DATAx{ANNOT_GENCODE}"]["NOOVERLAP"]  # write
GENCODE_NOOVERLAP_REF = config[f"DATAx{ANNOT_GENCODE}"]["NOOVERLAP_REF"]  # write

# functions

In [7]:
def pbtIntersection(gencode_bed, test_bed, annot):
    
    out = test_bed.strip(".bed") + f"GENCODE-{annot}_overlap.bed"
    
    # make pybedtool objects
    gencode = pbt.BedTool(gencode_bed)
    test = pbt.BedTool(test_bed)
    
    # intersect -u to keep only unique loci from A
    
    test.intersect(gencode, u=True, output=out)
    

    print(cl.count_lines(out))
    print("\n\n", out)

In [8]:
def pbtSubtraction(gencode_bed, test_bed, annot):
    
    out = test_bed.strip(".bed") + f"GENCODE-{annot}_no-overlap.bed"
    
    # make pybedtool objects
    gencode = pbt.BedTool(gencode_bed)
    test = pbt.BedTool(test_bed)
    
    # intersect -v to keep only the variants that DO NOT overlap (this is a subtraction. )
    # no -u for subtract. Need to assess unique values later
    
    test.intersect(gencode, v=True, output=out)
    
    print(cl.count_lines(out))
    print("\n\n", out)

# Main

# intersect mutations w/ GENCODE

### write GENCODE_OVERLAP

In [9]:
# intersection
pbtIntersection(GENCODE_BED, NULLOMER_BED, ANNOT_GENCODE) # remove duplicates

4593


 /wynton/home/ahituv/fongsl/nullomers/data/mutations_uniq_lociGENCODE-EXON_overlap.bed

### write GENCODE_NOOVERLAP

In [10]:
# subtraction
pbtSubtraction(GENCODE_BED, NULLOMER_BED, ANNOT_GENCODE)

26407


 /wynton/home/ahituv/fongsl/nullomers/data/mutations_uniq_lociGENCODE-EXON_no-overlap.bed

## invesrtigate alternative haplotypes in the non-coding
- open non-coding file
- make list of reference chromosome names
- subset non-coding dataframe for reference chromosomes. 
- write GENCODE_NOOVERLAP_REF

In [11]:
# open the non-coding file (gencode overlap subtracted mutations)

df = pd.read_csv(GENCODE_NOOVERLAP, sep='\t', header=None)
print(df.shape[0])
df.head()

26407

      0       1       2        3
0  chr1  455769  455770  N_12346
1  chr1  690742  690743  N_12348
2  chr1  780676  780677  N_12349
3  chr1  836764  836765  N_12353
4  chr1  897961  897962  N_12356

In [12]:
# make a list of the reference chromosomes
from chr_functions import make_chr_list

ref_chr_list = make_chr_list()
ref_chr_list.extend(["chrX", "chrY"])

## subset non-coding reference chromosomes

In [13]:
# subset reference chromosome dataframe

ref = df.loc[df[0].isin(ref_chr_list)]
print(ref.shape[0])

24546

In [14]:
# how many mutations are on alternative haplotypes? 

df.shape[0]-ref.shape[0]

1861

How many nullomers are at alternative haplotype loci?

    1866/11317 mutations are in alternative haplotypes (17%)(all GENCODE)
    1868/24632 mutations are in alternative haplotypes (7.6%) (exons only)

    ... the rest of the mutations are NON-CODING and in REFERENCE chromosome coordinates.

In [15]:
ref.head()

      0       1       2        3
0  chr1  455769  455770  N_12346
1  chr1  690742  690743  N_12348
2  chr1  780676  780677  N_12349
3  chr1  836764  836765  N_12353
4  chr1  897961  897962  N_12356

### write GENCODE_NOOVERLAP_REF

In [18]:
# save reference chromosome non-coding mutation dataframe
ref_uniq=ref[[0,1,2,3]].drop_duplicates()
print(ref_uniq.shape)
ref_uniq.to_csv(GENCODE_NOOVERLAP_REF, sep='\t', header=False, index=False)

(24546, 4)

In [19]:
ref_uniq.head()

      0       1       2        3
0  chr1  455769  455770  N_12346
1  chr1  690742  690743  N_12348
2  chr1  780676  780677  N_12349
3  chr1  836764  836765  N_12353
4  chr1  897961  897962  N_12356