In [2]:
import os, sys
import pandas as pd

In [3]:
FILE = "/wynton/group/ahituv/biomarin/library_2/Design/biomarin-lib2-hg38-final.bed"

In [25]:
df = pd.read_csv(FILE, header=None).drop_duplicates()

df.head()

                           0
0  chr13 112073561 112073831
1  chr13 112073581 112073851
2  chr13 112073601 112073871
3  chr13 112073621 112073891
4  chr13 112073641 112073911

In [26]:
df = df[0].str.split(' ', expand=True) # str split

df.head()

       0          1          2     3     4
0  chr13  112073561  112073831  None  None
1  chr13  112073581  112073851  None  None
2  chr13  112073601  112073871  None  None
3  chr13  112073621  112073891  None  None
4  chr13  112073641  112073911  None  None

In [33]:
set(df[0])

{'Background',
 'Negative-GABA_chr1',
 'Negative-GABA_chr10',
 'Negative-GABA_chr12',
 'Negative-GABA_chr18',
 'Negative-GABA_chr2',
 'Negative-GABA_chr3',
 'Negative-GABA_chr7',
 'Negative-GABA_chrX',
 'Negative-GLUT_chr10',
 'Negative-GLUT_chr11',
 'Negative-GLUT_chr12',
 'Negative-GLUT_chr14',
 'Negative-GLUT_chr2',
 'Negative-GLUT_chr5',
 'Negative-GLUT_chr7',
 'Negative-GLUT_chr9',
 'Negative-GLUT_chrX',
 'Negative-GLUT_shuffle163_chr2',
 'Negative-GLUT_shuffle30_chr2',
 'Negative-chr1',
 'Negative-chr10',
 'Negative-chr12',
 'Negative-chr18',
 'Negative-chr2',
 'Negative-chr3',
 'Negative-chr5',
 'Negative-chr7',
 'Negative-chr9',
 'Negative-chrX',
 'Negative-shuffle116_chr2',
 'Negative-shuffle137_chr12',
 'Negative-shuffle157_chr18',
 'Negative-shuffle39_chr2',
 'Negative-shuffle46_chr18',
 'Negative-shuffle54_chr1',
 'Positive-GABA_chr1',
 'Positive-GABA_chr10',
 'Positive-GABA_chr11',
 'Positive-GABA_chr12',
 'Positive-GABA_chr2',
 'Positive-GABA_chr22',
 'Positive-GABA_chr7',
 'Positive-GABA_chr9',
 'Positive-GLUT_chr10',
 'Positive-GLUT_chr12',
 'Positive-GLUT_chr18',
 'Positive-GLUT_chr2',
 'Positive-GLUT_chr3',
 'Positive-GLUT_chr7',
 'Positive-chr1',
 'Positive-chr10',
 'Positive-chr11',
 'Positive-chr12',
 'Positive-chr2',
 'Positive-chr7',
 'Positive-chr8',
 'Positive-shuffle35_chr12',
 'chr1',
 'chr10',
 'chr11',
 'chr12',
 'chr13',
 'chr14',
 'chr15',
 'chr16',
 'chr17',
 'chr18',
 'chr19',
 'chr2',
 'chr20',
 'chr21',
 'chr22',
 'chr3',
 'chr4',
 'chr5',
 'chr6',
 'chr7',
 'chr8',
 'chr9',
 'chrX',
 'chrY',
 'shuffle_100_chr1',
 'shuffle_101_chr8',
 'shuffle_102_chr6',
 'shuffle_103_chr13',
 'shuffle_104_chr2',
 'shuffle_105_chr6',
 'shuffle_106_chr15',
 'shuffle_107_chr10',
 'shuffle_108_chr7',
 'shuffle_109_chr11',
 'shuffle_10_chr2',
 'shuffle_110_chr8',
 'shuffle_111_chr6',
 'shuffle_112_chr15',
 'shuffle_113_chr6',
 'shuffle_114_chr9',
 'shuffle_115_chr6',
 'shuffle_116_chr12',
 'shuffle_117_chr1',
 'shuffle_118_chr2',
 'shuffle_119_chr6',
 'shuffle_11_chr1',
 'shuffle_120_chr4',
 'shuffle_121_chr2',
 'shuffle_122_chr3',
 'shuffle_123_chr3',
 'shuffle_124_chr1',
 'shuffle_125_chr1',
 'shuffle_126_chr4',
 'shuffle_127_chr16',
 'shuffle_128_chr12',
 'shuffle_129_chr4',
 'shuffle_12_chr18',
 'shuffle_130_chr19',
 'shuffle_131_chr15',
 'shuffle_132_chr1',
 'shuffle_133_chr20',
 'shuffle_134_chr6',
 'shuffle_135_chr1',
 'shuffle_136_chrX',
 'shuffle_137_chr12',
 'shuffle_138_chr19',
 'shuffle_139_chr20',
 'shuffle_13_chr2',
 'shuffle_140_chr15',
 'shuffle_141_chr14',
 'shuffle_142_chr10',
 'shuffle_143_chr2',
 'shuffle_144_chr2',
 'shuffle_145_chr18',
 'shuffle_146_chr2',
 'shuffle_147_chr5',
 'shuffle_148_chr5',
 'shuffle_149_chr7',
 'shuffle_14_chr22',
 'shuffle_150_chr1',
 'shuffle_151_chr17',
 'shuffle_152_chr7',
 'shuffle_153_chr6',
 'shuffle_154_chr11',
 'shuffle_155_chr13',
 'shuffle_156_chr9',
 'shuffle_157_chr10',
 'shuffle_158_chr9',
 'shuffle_159_chr7',
 'shuffle_15_chr1',
 'shuffle_160_chr4',
 'shuffle_161_chr18',
 'shuffle_162_chr3',
 'shuffle_163_chr9',
 'shuffle_164_chr17',
 'shuffle_165_chr4',
 'shuffle_166_chr11',
 'shuffle_167_chr8',
 'shuffle_168_chr8',
 'shuffle_169_chr6',
 'shuffle_16_chr19',
 'shuffle_170_chr4',
 'shuffle_171_chr1',
 'shuffle_172_chr1',
 'shuffle_173_chr2',
 'shuffle_174_chr15',
 'shuffle_175_chr16',
 'shuffle_176_chr2',
 'shuffle_177_chr3',
 'shuffle_178_chr4',
 'shuffle_179_chr20',
 'shuffle_17_chr20',
 'shuffle_180_chr4',
 'shuffle_181_chr17',
 'shuffle_182_chr1',
 'shuffle_183_chr4',
 'shuffle_184_chr12',
 'shuffle_185_chr6',
 'shuffle_186_chr10',
 'shuffle_187_chr10',
 'shuffle_188_chr14',
 'shuffle_189_chr4',
 'shuffle_18_chr4',
 'shuffle_190_chr1',
 'shuffle_191_chr12',
 'shuffle_192_chr11',
 'shuffle_193_chr12',
 'shuffle_194_chr5',
 'shuffle_195_chr5',
 'shuffle_196_chr7',
 'shuffle_197_chr4',
 'shuffle_198_chr11',
 'shuffle_199_chr15',
 'shuffle_19_chr1',
 'shuffle_1_chr11',
 'shuffle_200_chr6',
 'shuffle_20_chr4',
 'shuffle_21_chr2',
 'shuffle_22_chr5',
 'shuffle_23_chr1',
 'shuffle_24_chr4',
 'shuffle_25_chr6',
 'shuffle_26_chr4',
 'shuffle_27_chr1',
 'shuffle_28_chr13',
 'shuffle_29_chr22',
 'shuffle_2_chr6',
 'shuffle_30_chr20',
 'shuffle_31_chr7',
 'shuffle_32_chr11',
 'shuffle_33_chr11',
 'shuffle_34_chr11',
 'shuffle_35_chr5',
 'shuffle_36_chr1',
 'shuffle_37_chr9',
 'shuffle_38_chr18',
 'shuffle_39_chr4',
 'shuffle_3_chr11',
 'shuffle_40_chr10',
 'shuffle_41_chr7',
 'shuffle_42_chr16',
 'shuffle_43_chr7',
 'shuffle_44_chr13',
 'shuffle_45_chr15',
 'shuffle_46_chr5',
 'shuffle_47_chr12',
 'shuffle_48_chr20',
 'shuffle_49_chr6',
 'shuffle_4_chr11',
 'shuffle_50_chr8',
 'shuffle_51_chr21',
 'shuffle_52_chr1',
 'shuffle_53_chr4',
 'shuffle_54_chr6',
 'shuffle_55_chr15',
 'shuffle_56_chr22',
 'shuffle_57_chr6',
 'shuffle_58_chr1',
 'shuffle_59_chr6',
 'shuffle_5_chr21',
 'shuffle_60_chr19',
 'shuffle_61_chr21',
 'shuffle_62_chr1',
 'shuffle_63_chr16',
 'shuffle_64_chr22',
 'shuffle_65_chr16',
 'shuffle_66_chr7',
 'shuffle_67_chr6',
 'shuffle_68_chr2',
 'shuffle_69_chr6',
 'shuffle_6_chr20',
 'shuffle_70_chr19',
 'shuffle_71_chr19',
 'shuffle_72_chr2',
 'shuffle_73_chr20',
 'shuffle_74_chr19',
 'shuffle_75_chr6',
 'shuffle_76_chr11',
 'shuffle_77_chr20',
 'shuffle_78_chr21',
 'shuffle_79_chr11',
 'shuffle_7_chr11',
 'shuffle_80_chrY',
 'shuffle_81_chr1',
 'shuffle_82_chr15',
 'shuffle_83_chr2',
 'shuffle_84_chr11',
 'shuffle_85_chr11',
 'shuffle_86_chr11',
 'shuffle_87_chr22',
 'shuffle_88_chr8',
 'shuffle_89_chr17',
 'shuffle_8_chr15',
 'shuffle_90_chr7',
 'shuffle_91_chr4',
 'shuffle_92_chr15',
 'shuffle_93_chr11',
 'shuffle_94_chr15',
 'shuffle_95_chr19',
 'shuffle_96_chr13',
 'shuffle_97_chr9',
 'shuffle_98_chr3',
 'shuffle_99_chr10',
 'shuffle_9_chr5'}

## problem entry

In [32]:
df.loc[df[4]=="244100893"]

                0     1     2          3          4
42176  Background  seq2  chr1  244100624  244100893

In [39]:
df.loc[df[0]=="Background"]

                0     1     2          3          4
42176  Background  seq2  chr1  244100624  244100893

In [34]:
collection = {}
valid_chrs = ['chr1',
 'chr10',
 'chr11',
 'chr12',
 'chr13',
 'chr14',
 'chr15',
 'chr16',
 'chr17',
 'chr18',
 'chr19',
 'chr2',
 'chr20',
 'chr21',
 'chr22',
 'chr3',
 'chr4',
 'chr5',
 'chr6',
 'chr7',
 'chr8',
 'chr9',
 'chrX',
 'chrY']

# parse dataframe to format bed columns

In [41]:
for i in set(df[0]):
    test=df.loc[df[0]==i].copy()
    if i not in valid_chrs:
        if i !="Background":
            test["chr"] = test[0].apply(lambda x: "chr" + x.split("chr")[1])
            test["start"] = test[1].map(int)
            test["end"] = test[2].map(int)
            test["seq_id"] = test[0].apply(lambda x: x.split("_chr")[0])
        else:
            test["chr"] = test[2]
            test["start"] = test[3].map(int)
            test["end"] = test[4].map(int)
            test["seq_id"] = '.'.join([test[0].iloc[0], test[1].iloc[0], test[2].iloc[0]])
        
    else:
        test["chr"] = test[0]
        test["start"] = test[1].map(int)
        test["end"] = test[2].map(int)
    collection[i] = test

## check before, after parsing shape

In [42]:
df.shape  # before shape

(42713, 5)

In [43]:
concat = pd.concat(collection.values())
concat.shape  ## after shape is the same

(42713, 9)

## write only bed columns

In [49]:
concat[["chr", "start", "end", "seq_id"]].drop_duplicates().to_csv(FILE, sep='\t', header=False, index=False)

In [51]:
%%bash
head /wynton/group/ahituv/biomarin/library_2/Design/biomarin-lib2-hg38-final.bed

chr1	25430129	25430399	shuffle_125
chr22	31898081	31898351	shuffle_64
chr20	5171303	5171573	shuffle_73
chr15	84748824	84749094	shuffle_131
chr4	61500697	61500967	shuffle_160
chr1	27831155	27831425
chr1	27831175	27831445
chr1	27831195	27831465
chr1	27831215	27831485
chr1	27831235	27831505