In [1]:
import os, sys
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PATH = "/wynton/group/ahituv/biomarin/data"
FILE ="delta_rank.csv"
DATA = os.path.join(PATH, FILE)
ARCHETYPES = "/wynton/group/ahituv/biomarin/library_2/Design/biomarin-lib2-hg38-final.x.vierstra.archetypes.cleaned.table.bed"
BED = "/wynton/group/ahituv/biomarin/library_2/Design/lib2.merged.tiles.bed"

In [13]:
df = pd.read_csv(DATA)
print(df.shape)
df = df.rename(columns={"name":"tile_coor"})
df.head()

(35371, 5)

,tile_coor,gaba_log2_mean,glut_log2_mean,delta,delta_rank
0,chr1:10339772-10340042,-1.602773,0.466691,-2.069465,1.0
1,chr6:154127563-154127833,-0.460660,1.393760,-1.854420,2.0
2,chr4:93216597-93216867,-1.373226,0.426283,-1.799509,3.0
3,chr9:127735295-127735565,-0.784093,1.010851,-1.794944,4.0
4,chr1:31376876-31377146,-0.500106,1.291683,-1.791789,5.0

In [4]:
df.loc[df["name"].str.contains("shuf")]

,name,gaba_log2_mean,glut_log2_mean,delta,delta_rank
880,shuffle_50_chr8:32963266-32963536,-1.925349,-0.933365,-0.991983,881.0
1462,Negative-GLUT_shuffle30_chr2:199552111-1995523...,-1.431660,-0.564204,-0.867456,1463.0
1793,Negative-shuffle116_chr2:171661323-171661592:+,-1.571511,-0.757579,-0.813932,1794.0
2151,Negative-shuffle39_chr2:170816640-170816909:+,-1.702073,-0.932549,-0.769524,2152.0
2177,shuffle_126_chr4:61200578-61200848,-0.749656,0.016083,-0.765739,2178.0
...,...,...,...,...,...
34340,shuffle_67_chr6:6009242-6009512,0.577643,-0.054180,0.631823,34341.0
34475,shuffle_13_chr2:7694861-7695131,1.051816,0.405766,0.646050,34476.0
34678,shuffle_5_chr21:10272390-10272660,1.086124,0.413695,0.672429,34679.0
34915,shuffle_179_chr20:64088617-64088887,0.727266,0.014729,0.712537,34916.0
35333,shuffle_11_chr1:40665241-40665511,0.536564,-0.468975,1.005539,35334.0

# archetype matrix

In [5]:
arch = pd.read_csv(ARCHETYPES, sep='\t')
arch

,tile.coor,AHR,AIRE,AP1/1,AP1/2,ARI5A,ARI5B,BATF,BCL6/1,BCL6/2,...,ZNF652,ZNF667,ZNF680,ZNF708,ZNF713,ZNF768,ZNF784,ZNF85,ZSCAN3,ZSCAN4
0,chr10:101031026-101031296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.4566,...,NaN,8.4637,NaN,7.1276,NaN,8.8228,NaN,NaN,7.1462,NaN
1,chr10:101031046-101031316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.4637,NaN,7.1276,NaN,8.8228,NaN,NaN,7.1462,NaN
2,chr10:101031066-101031336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.4637,NaN,7.1276,NaN,4.3834,NaN,NaN,NaN,NaN
3,chr10:101031086-101031356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.4637,NaN,7.1276,NaN,4.3834,NaN,NaN,NaN,NaN
4,chr10:101031106-101031376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.4637,NaN,7.1276,NaN,4.3834,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34908,chrY:2936118-2936388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.6389,NaN,5.9844,NaN,7.2887,NaN,NaN,NaN,NaN
34909,chrY:2936120-2936390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.6389,NaN,5.9844,NaN,7.2887,NaN,NaN,NaN,NaN
34910,chrY:2936140-2936410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.9213,NaN,5.9844,NaN,7.2887,NaN,NaN,NaN,NaN
34911,chrY:2936160-2936430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.9213,NaN,5.9844,NaN,7.2887,NaN,NaN,NaN,NaN
34912,chrY:2936180-2936450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.9213,NaN,5.9844,NaN,7.2887,NaN,NaN,NaN,NaN

# enhancer tiles

In [6]:
tiles = pd.read_csv(BED, sep='\t', header=None, 
                    names=["tile.chr", "tile.start", "tile.end", 
                                                       "enh.chr", "enh.start",
                                                      "enh.end"])
tiles.head()

  tile.chr  tile.start  tile.end enh.chr  enh.start  enh.end
0     chr1       10057     10327    chr1      10057    10563
1     chr1       10077     10347    chr1      10057    10563
2     chr1       10097     10367    chr1      10057    10563
3     chr1       10117     10387    chr1      10057    10563
4     chr1       10133     10403    chr1      10057    10563

# coordinate ids

In [7]:
tiles["tile.coor"] = tiles["tile.chr"] + ":" + tiles["tile.start"].map(str)+ "-"+ tiles["tile.end"].map(str)
tiles["enh.coor"] = tiles["enh.chr"] + ":" + tiles["enh.start"].map(str)+ "-"+ tiles["enh.end"].map(str)

# add tile info

In [8]:
arch = pd.merge(tiles[["tile.coor","enh.coor"]], arch)

In [14]:
pd.merge(arch, df, how="left")

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [9]:
# make a copy. 
test = arch.copy()

In [10]:
test[test.columns[1:]].drop_duplicates()

,enh.coor,AHR,AIRE,AP1/1,AP1/2,ARI5A,ARI5B,BATF,BCL6/1,BCL6/2,...,ZNF652,ZNF667,ZNF680,ZNF708,ZNF713,ZNF768,ZNF784,ZNF85,ZSCAN3,ZSCAN4
0,chr10:623941-624371,NaN,NaN,NaN,7.0944,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0049,NaN,7.1018,NaN,6.6881,NaN,6.8064,NaN,NaN
1,chr10:623941-624371,NaN,NaN,NaN,7.0944,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0049,NaN,7.1018,NaN,6.6881,NaN,NaN,NaN,NaN
2,chr10:623941-624371,NaN,NaN,NaN,7.0944,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0049,NaN,7.1018,NaN,6.6881,NaN,NaN,NaN,NaN
3,chr10:623941-624371,NaN,NaN,NaN,7.0944,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0049,NaN,7.1018,NaN,6.6881,NaN,NaN,NaN,NaN
4,chr10:623941-624371,NaN,NaN,NaN,7.0944,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0049,NaN,7.1018,NaN,6.6881,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34907,chrY:19744097-19745670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7093,NaN,NaN
34908,chrY:19744097-19745670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7093,NaN,NaN
34909,chrY:19744097-19745670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7093,NaN,NaN
34910,chrY:19744097-19745670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7093,NaN,NaN
34911,chrY:19744097-19745670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7093,NaN,NaN

# max prediction value per enhancer. 
- excludes redundant motifs

In [11]:
max_pred = test[test.columns[1:]].groupby("enh.coor")[test.columns[2:]].max().reset_index()

In [12]:
max_pred

,enh.coor,AHR,AIRE,AP1/1,AP1/2,ARI5A,ARI5B,BATF,BCL6/1,BCL6/2,...,ZNF652,ZNF667,ZNF680,ZNF708,ZNF713,ZNF768,ZNF784,ZNF85,ZSCAN3,ZSCAN4
0,chr10:101031026-101032714,7.9331,NaN,NaN,10.9003,NaN,NaN,NaN,NaN,7.4566,...,NaN,8.4637,NaN,9.0780,NaN,10.0367,NaN,6.7400,9.5958,8.6494
1,chr10:101042538-101043680,8.1079,8.1029,NaN,7.0108,7.7616,NaN,7.6865,5.8843,10.0239,...,NaN,NaN,NaN,8.1132,NaN,6.1796,NaN,8.1140,NaN,NaN
2,chr10:101060628-101062031,7.9331,NaN,7.9105,8.9167,NaN,NaN,NaN,NaN,9.4087,...,NaN,8.6430,6.2828,NaN,NaN,6.6799,6.4585,NaN,9.6376,NaN
3,chr10:101394454-101395222,NaN,NaN,11.4544,NaN,NaN,NaN,8.3428,NaN,NaN,...,11.4095,NaN,NaN,NaN,NaN,5.9563,NaN,NaN,NaN,3.3016
4,chr10:102108039-102108469,NaN,NaN,NaN,NaN,NaN,8.9241,NaN,NaN,NaN,...,NaN,8.2767,NaN,8.2162,NaN,6.7435,7.0443,NaN,8.3387,7.5157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,chrY:12537123-12537553,8.7879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.8858,NaN,NaN,NaN,NaN
1481,chrY:12661239-12663710,7.9331,NaN,8.5052,7.8439,NaN,7.2890,8.3760,NaN,9.5879,...,5.7066,11.3334,4.5354,7.2971,NaN,5.3990,NaN,6.8293,7.0011,4.1239
1482,chrY:12741976-12742567,NaN,NaN,NaN,6.6930,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6049
1483,chrY:19744097-19745670,NaN,NaN,NaN,7.0498,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.9382,NaN,5.2730,NaN,6.7093,8.4821,NaN
1484,chrY:2935854-2936450,7.7697,NaN,NaN,6.8997,NaN,8.3595,NaN,NaN,NaN,...,NaN,9.6389,NaN,6.1917,NaN,7.2887,NaN,NaN,NaN,NaN