In [1]:
import matplotlib.pyplot as plt
import os, sys
import pandas as pd
import seaborn as sns

sys.path.append("/Users/sarahfong/tools/py_")
import config_readwrite as crw
import plot_params as pp
pp.fonts()

name = "local_config.ini"
config, cfn = crw.read_config(name)

section="LIBRARY"
MPRA_LIBRARY = config[section]["15mer_constructs"]
RE = config[section]["results"]

if os.path.exists(RE) is False:
    os.mkdir(RE)

# load library

In [4]:
df = pd.read_csv(MPRA_LIBRARY, sep='\t')

## single-nullomer inserts only

In [9]:
one_null = df.loc[df["exp.id"]=="single-null"].copy()

one_null.head()

,id,exp.id,exp.seq.id,exp.coor.id,coor,str,seq_frag,200bp_insert,200bp_insert+adaptors,gc_frac,len
701,single-null-0,single-null,0.0,0.0,chr22:42533418-42533618,+,TCGATCGCGAAGTGG,TTCTGAAAAGAGCATAGAAGAAATAATGACGTAAGCTGTCCTCTCT...,AGGACCGGATCAACTTTCTGAAAAGAGCATAGAAGAAATAATGACG...,0.495,230
703,single-null-0,single-null,0.0,1.0,chr17:81472134-81472334,+,TCGATCGCGAAGTGG,GATCCGAGGACAGCCATGCCACTCTCCGGTCACATGACCCACGCCA...,AGGACCGGATCAACTGATCCGAGGACAGCCATGCCACTCTCCGGTC...,0.580,230
705,single-null-0,single-null,0.0,2.0,chr1:23562395-23562595,+,TCGATCGCGAAGTGG,TGCCCAGCTGTGGGTCCCGGTCCCACAGCTGTGTTGATCTAAGACT...,AGGACCGGATCAACTTGCCCAGCTGTGGGTCCCGGTCCCACAGCTG...,0.660,230
707,single-null-0,single-null,0.0,3.0,chr10:68901084-68901284,+,TCGATCGCGAAGTGG,TAATCAGTGCATGCTTCCTTTATGGAGATTGGCCAGGGTTTTACTC...,AGGACCGGATCAACTTAATCAGTGCATGCTTCCTTTATGGAGATTG...,0.525,230
709,single-null-0,single-null,0.0,4.0,chr1:150977355-150977555,+,TCGATCGCGAAGTGG,GATGATGCGACCAGCTTTGTCAGCACGCTTGGGGAGCATACACACC...,AGGACCGGATCAACTGATGATGCGACCAGCTTTGTCAGCACGCTTG...,0.600,230

## write fa

In [24]:
def writeFa(ID, df, cols, RE):
    
    # make fa file
    out = os.path.join(RE, f"{ID}.fa")

    with open(out, "w") as writer:
        for row in df.iterrows():
            
            # first line in fa entry
            tag = ">"+ row[1]["id"] + "|" + row[1]["coor"] + "|" + row[1]["seq_frag"]
            
            # second line in fa entry
            seq = row[1]["200bp_insert"] 
            
            # write
            writer.write(f"{tag}\n{seq}\n")

    writer.close()
    
    return out

## get one nullomer inserted into 100 scaffolds

In [10]:
ID = "single-null-0"
cols = ["id", "coor", "200bp_insert", "seq_frag"]

# subset data
test = df.loc[df["id"]==ID, cols].copy().drop_duplicates()

# write fa
single_null_out = writeFa(ID, test, cols, RE)
single_null_out

# get all the concatemer-nullomers

In [29]:
ID = "concat-null"
cols = ["id", "coor", "200bp_insert", "seq_frag"]

# subset data
test = df.loc[df["exp.id"]==ID, cols].copy().drop_duplicates()

# write fa
concat_out = writeFa(ID, test, cols, RE)
concat_out

'/Users/sarahfong/Desktop/local_data/MPRA/nullomers/library/results/concat-null.fa'